<div>
    <mat-form-field appearance="fill">
        <mat-label>Cube</mat-label>
        <mat-select [(value)]="cube">
            <mat-option *ngFor="let cube of cubes$ | async | nullToEmpty" [value]="cube">
            {{cube.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="onClickCreateNew()">Create new</button>
    <button mat-raised-button (click)="onClickClone()">Clone</button>
</div>
<mat-divider></mat-divider>
<app-cube-editor [cube]="cube"></app-cube-editor>