.main-container {
    display: flex;
    flex-flow: row nowrap;
    
    align-items: flex-start;
    gap: 1em;
}

.details-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
    row-gap: 1em;
    grid-auto-rows: minmax(auto, fit-content);

    font-size: larger;
}

.image-container {
    position: relative;

    .primary-image {
        position: absolute;
        z-index: 1;

        left: 96px;

        box-shadow: 10px 5px 5px grey;
    }

    .prev-image {
        position: absolute;
        z-index: 0;

        opacity: 0.35;
    }

    .next-image {
        position: absolute;
        z-index: 0;

        left: 192px;

        opacity: 0.35;
    }
}