<div class="container">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>List</mat-label>
            <mat-select [(value)]="listName">
                <mat-option *ngFor="let str of listNameOptions$ | async | nullToEmpty" [value]="str">
                {{str}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div>
        <app-card-filter
            [categoryOptions]="categoryOptions$ | async | nullToEmpty"
            [jobOptions]="jobOptions$ | async | nullToEmpty"
            [setOptions]="setOptions$ | async | nullToEmpty"
            [tagOptions]="tagOptions$ | async | nullToEmpty"
            (filterChanged)="onFiltersChanged($event)"></app-card-filter>
    </div>
    <div>
        <h4>Displaying <b>{{(filteredCards$ | async | nullToEmpty).length}}</b> results</h4>
    </div>
    <div>
        <app-card-gallery [cards]="filteredCards$ | async | nullToEmpty" (cardClick)="onCardClicked($event)"></app-card-gallery>
    </div>
</div>